nav {
  color: #e8fdff;
  background-color: #00a087;
  height: 92px;
  position: fixed;
  top: 0;
  width: 100%;
  padding-right: 45px;
  padding-left: 45px;
  z-index: 100;

}

img {
  height: 80px;
  width: 80px
}

#nav-bar .logo {
  float: left;
  margin: 10px
}

#nav-bar .header {
  float: left;
  line-height: 80px;
  font-size: 40px;
}

.compose {
  bottom: 50px;
  font-family: cursive;
}