tweet-list {
  margin: 1em;
}

 article.tweet-container {
  background-color: #e0e0ff;
  border-radius: 10px;
}
 article.highlight {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

 article.tweet-container header {
  background-color: #ffff00;
  border-radius: 10px 10px 0 0;
  font-family: 'Futura';
  height: 80px;
  line-height: 80px;
  padding: 0 1em;
}
 article.tweet-container img {
  width: 64px;
  height: 64px;
  float: left;
  margin: 0 6px 0 0;
  border-radius: 6px;
  background-color: rgba(255, 0, 0, 0.2);
}
 .tweet-list .username {
  font-size: 20px;
  float: left;
}
 .tweet-list .handle {
  font-size: 14px;
  float: right;
}

 article.tweet-container footer {
  height: 70px;
  line-height: 40px;
  padding: 0 1em;
  border-top: 2px;
  border-top-style: solid;
  border-color: #c0c0c0;
}
 article.tweet-container footer p {
  float: left;
}
 .iconset {
  display: none;
  float: right;
}

 .tweet-list .tweet-body {
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0 1em;
  background-color: #ffff00;
}
 .tweet-lists .tweet-body p {
  margin: 0;
}